.result_box {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  pointer-events: auto;
  background: #fff;
  border-radius: 5px;
  display: flex;
  padding: 25px 30px;
  width: 60%;
  text-align: center;
  margin: 0 20%;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  transition: all 0.3s ease;
}

.result_box .icon {
  font-size: 100px;
  color: #007bff;
  margin-bottom: 10px;
}

.result_box .complete_text {
  font-size: 20px;
  text-align: center;
  font-weight: 500;
}

.result_box .score_text span {
  display: flex;
  margin: 10px 0;
  font-size: 18px;
  font-weight: 500;
}

.result_box .score_text span p {
  padding: 0 4px;
  font-weight: 600;
}

.result_box .buttons {
  display: flex;
  margin: 20px 0;
}

.result_box .buttons .btn {
  text-decoration: none;
  margin: 0 10px;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 5px;
  border: 1px solid #007bff;
  transition: all 0.3s ease;
}

.multi_btn .restart {
  background-color: purple !important;
  border-color: black !important;
}
.multi_btn .quit {
  border-color: purple !important;
  color: purple !important;
}

@media (max-width: 400px) {
  .result_box {
    width: 80%;
    margin: 0 10%;
    padding: 20px 15px 15px;
  }
  .result_box .buttons {
    display: flex;
    margin: 10px 0;
  }
  .result_box .buttons .btn {
    padding: 15px 12px;
    font-size: 18px;
  }
}
